<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/inove_icon.png') }}" sizes="32x32" />
    <title>Dashboard Entropia</title>
</head>
<body>
  <div id="container">
    <header>
      <img src="{{ url_for('static', filename='images/entropia.jpg') }}" alt="entropia" width="100%">
      <!-- <div>
      <a href="#"><img src="{{ url_for('static', filename='images/inove_icon.png') }}" alt="inove" width="50"></a>
      <h4>Dashboard Entropia</h4>
      </div>
      <div id="user">
      </div> -->
    </header>
    <section id="seccionLogin">
      <h1>Bienvenido</h1>
      <div id="containerLogin">
        <label for="usuario"><b>Usuario</b></label>
        <input id="usuario" type="text" value="" placeholder="usuario"/>
        <label for="usuario"><b>Contraseña</b></label>
        <input id="password" type="password" value="" placeholder="contraseña"/>
        <button id="ingresar" path="{{url_for('api_login')}}" redirect="{{url_for('index')}}">Identificarse</button>
      </div>
    </section>
  </div>

  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>